[submodule "meta-goldi"]
	path = meta-goldi
	url = https://github.com/lassertos/meta-goldi.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://git.yoctoproject.org/git/meta-raspberrypi
[submodule "meta-rauc"]
	path = meta-rauc
	url = https://github.com/rauc/meta-rauc.git
